body {
    background-color: #00263a;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

h2 {
    font-size: 20px;
    display: inline-block;
    padding: 10px 30px;
}

h2.active {
    background-color: #87B2D7;
}

section, div.section-header {
    width: 768px;
    margin: 0 auto;
}

#score-list {
    width: 75%;
    margin: 50px auto;
}

ol li {
    margin-top: 15px;
}

#canvas-container {
    position: relative;
}

canvas {
    position: absolute;
    width: 768px;
    height: 512px;
}

#canvas-overlay{
    top: 200px;
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: "Press Start 2P", cursive;
}

#board-header {
    height: 60px;
    width: 100%;
    padding: 10px 20px;
}

#board-header div {
    display: inline-block;
}

#game-score-container {
    width: 200px;
}

#item-collection {
    margin-top: -10px;
    width: 200px;
}

#controls {
    width: 300px;
    text-align: right;
}

#controls button {
    height: 32px;
    border-radius: 3px;
    background-color: transparent;
    border: #87B2D7 solid 1px;
    color: white;
    font-family: inherit;
}

.control-btn {
    width: 32px;
    background-position: center center;
}

.pause {
    width: 32px;
    background-image: url("images/pause.png");
    background-position: center center;
}

.play {
    width: 32px;
    background-image: url("images/play.png");
    background-position: center center;
}

.mute {
    background-image: url("images/mute.png");
}

.unmute {
    background-image: url("images/unmute.png");
}